<div class="frame">

    <h1 class="center">Gestion Restaurant</h1>

    <div class="center">
        <form [formGroup]="model" class="formulaire">
            <br>Nom :
            <input formControlName="name" placeholder="Nom du Restaurant" required class="form-control" />
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger form-control">
                <div *ngIf="name.hasError('required')">Nom requis.</div>
            </div>
            <br> Adresse :
            <input formControlName="address" placeholder="Adresse du restaurant" required class="form-control" />
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger form-control">
                <div *ngIf="address.hasError('required')">Adresse requise.</div>
            </div>
            <br> Ville :
            <input formControlName="city" placeholder="Ville du restaurant" required class="form-control" />
            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger form-control">
                <div *ngIf="name.hasError('required')">Ville requise.</div>
            </div>
            <br> Image :
            <input formControlName="image" placeholder="Url de l'image du restaurant" class="form-control" />
            <div *ngIf="image.invalid && (image.dirty || image.touched)" class="alert alert-danger form-control">
                <div *ngIf="image.hasError('pattern')">Vous devez entrer le lien d'une image.</div>
            </div>
            <br> Style culinaire :
            <input formControlName="cookingStyle" placeholder="Style de cuisine du restaurant" required class="form-control" />
            <div *ngIf="cookingStyle.invalid && (cookingStyle.dirty || cookingStyle.touched)" class="alert alert-danger form-control">
                <div *ngIf="cookingStyle.hasError('required')">Style culinaire requis.</div>
            </div>
            <br> Descrition :
            <textarea rows="10" cols="50" formControlName="description" placeholder="Description du restaurant" required class="form-control"></textarea>
            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger form-control">
                <div *ngIf="description.hasError('required')">Description requise.</div>
            </div>
            <br> Téléphone :
            <input formControlName="phoneNumber" placeholder="Téléphone du restaurant" required class="form-control" />
            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger form-control">
                <div *ngIf="phoneNumber.hasError('required')">Téléphone requis.</div>
                <div *ngIf="phoneNumber.hasError('pattern')">Vous devez entrer un numéro de téléphone.</div>
            </div>
            <br> Site web :
            <input formControlName="website" placeholder="Site web du restaurant" class="form-control" />
            <div *ngIf="website.invalid && (website.dirty || website.touched)" class="alert alert-danger form-control">
                <div *ngIf="website.hasError('pattern')">Vous devez entrer un lien de site.</div>
            </div>
            <br> Note :
            <input type="number" formControlName="note" placeholder="Note du restaurant" class="form-control" min="0" max="5" />
            <div *ngIf="note.invalid && (note.dirty || note.touched)" class="alert alert-danger form-control">
                <div *ngIf="note.hasError('required')">Note requise.</div>
                <div *ngIf="note.hasError('min') || note.hasError('max')">Vous devez entrer une note entre 0 et 5.</div>
            </div>
            <br>
            <button *ngIf="!isEditing" (click)="validationForm()" class="btn btn-success">Valider</button>
            <button *ngIf="isEditing" (click)="validationEdit()" class="btn btn-warning">Mettre à Jour</button>
        </form>
    </div>

</div>
