<div>
    <div class="search-restaurant">
        <input class="form-control searchBar" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
    </div>
</div>
<div class="container frame" *ngFor="let restaurant of restaurants | filter:searchText">
    <div class="row">
        <div class="col-sm">
            <h3><a routerLink="/restaurant/{{restaurant.id}}">{{ restaurant.name }}</a></h3>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-4">
            <img src="{{restaurant.image}}" class="imgRestoCard">
        </div>
        <div class="col-sm-8">
            <p><strong>Style : </strong>{{ restaurant.cookingStyle}}</p>
            <p><strong>{{ restaurant.city}}</strong></p>
            <p><strong>{{ restaurant.note }} / 5</strong></p>
        </div>
    </div>
</div>