<div *ngIf="restaurant" class="restoUnit">
    <div>
        <h1>{{ restaurant.name }}</h1>
        <img src="{{restaurant.image}}" class="imgResto">
    </div>
    <div>
        <p>{{ restaurant.address}}, {{restaurant.city}}</p>
        <p><strong>Style : </strong>{{ restaurant.cookingStyle}}</p>
        <p>{{ restaurant.description}}</p>
        <p><strong>Téléphone : </strong>{{ restaurant.phoneNumber}}</p>
        <p><strong>Site : </strong>{{restaurant.website}}</p>
        <p class="note">{{ restaurant.note}} / 5</p>
    </div>
    <button routerLink="/formRestaurant/{{restaurant.id}}" class="btn btn-primary">Editer</button>
    <button (click)="delRestaurant()" class="btn btn-danger">Supprimer</button>
    <button (click)="addComment()" class="btn btn-success">Commenter</button>
</div>

<div *ngIf="comments" class="restoUnit">
    <div *ngFor="let com of comments" class="comment">
        <p>Par <strong>{{com.author}}</strong>, le <strong>{{com.date| date:'d/M/y' }}</strong></p>
        <p>{{ com.content }}</p>
        <p><strong>{{ com.note }} / 5</strong></p>
    </div>
</div>