@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
.frame {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px lightgray;
    border-radius: 15px;
    background-color: lightgray;
    padding: 10px;
}

.searchBar {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-weight: 700;
}

.restoUnit {
    text-align: center;
}

.imgResto {
    border-radius: 15px;
    max-height: 350px;
    max-width: 350px;
}

.imgRestoCard {
    border-radius: 5px;
    max-height: 150px;
    max-width: 150px;
}

.note {
    font-weight: bold;
    font-size: 2em;
}

.comment {
    width: 400px;
    background-color: white;
    border: solid 1px white;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
}

.commentBtn {
    margin-bottom: 20px;
}

body {
    margin: 0;
    background-image: url("src/assets/restaurant.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

.center {
    text-align: center;
}

button {
    max-width: 150px;
}

input,
textarea {
    max-width: 400px;
    margin: auto;
}

.alert {
    margin: auto;
    margin-top: 10px;
    max-width: 400px;
}