@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
.restoUnit {
    text-align: center;
}

.imgResto {
    border-radius: 15px;
    max-height: 350px;
}

.note {
    font-weight: bold;
    font-size: 2em;
}

.comment {
    width: 400px;
    background-color: white;
    border: solid 1px white;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
}

body {
    background-color: rgb(189, 148, 99);
    margin: 0;
}

.center {
    text-align: center;
}

button {
    max-width: 150px;
}

input {
    max-width: 400px;
    margin: auto;
}

.alert {
    margin: auto;
    margin-top: 10px;
    max-width: 400px;
}